.poster-page-wrapper{
  height:100vh;
  height:100dvh;
  width:100vw;
  background-color:gray;
  z-index:10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  left:0;
  top:0;
  overflow: auto;
  padding-bottom:20px
}

.poster-page {
  height: 100%;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: space-around ;
  align-items: flex-start;
  color: #fff !important;
   padding-top:60px;
  @media (max-width: 800px) {
     flex-direction:column;
    align-items: center;
    }
}

.col-s{
width: 22%;
@media (max-width: 800px) {
  width:90%
  }
}

.band-name{
  font-size: 1vw;
  @media (max-width: 800px) {
      font-size: 3vw;
    }
}

button{margin:2px; width:10%; padding:6px; overflow: hidden;}
.icons{
    font-size: 1.3vw,
}

.tge-logo{
  width:100%;
  opacity: 0.05;
}

.poster-page h1{
  font-size:2vw;
  margin:0;
    @media (max-width: 800px) {
        font-size: 4vw;
        margin-top:30px
      }
}

.poster-page h2 {
  font-size: 0vw;
  margin: 0
}

.poster-page sub {
  font-size: 1vw;
  margin: 0;
  @media (max-width: 800px) {
      font-size: 2vw;
    }
}